<template>
  <div id="flow-view" class="container">
    <div class="btn-group action-bar">
      <b-button class="btn btn-secondary btn-sm" :to="{name: 'documentView', params: {id: this.$route.params.docid}}">Назад</b-button>
    </div>
    <DocFlowTree v-if="docflowStages" :model="docflowStages"></DocFlowTree>
  </div>
</template>

<script>
  import {DocFlow} from '../../api/resources.js'

  export default {
    data () {
      return {
        docflowStages: null,
      }
    },
    mounted(){
      this.$bus.$on('reloadDocflow', event => {
        console.log('catch bus event reload....')
        this.fetchData()
      });
    },
    methods : {
      fetchData(){
        // DocFlow
        console.log('fetch docflow ....')
        DocFlow.get({'docid': this.$route.params.docid})
          .then(response => {
            this.docflowStages = response.body[0]
            console.log(this.docflowStages)
          }, response => {
            console.error('ERROR: get DocFlowStages')
            console.log(response)
          })
      }
    },
    created(){
      this.fetchData()
    }
  }
</script>

<style>
  .stage-panel {
    padding-top: 3px;
  }
  .action-bar{
    padding-bottom: 7px;
  }
</style>
