<template>
  <div>
    <div class="card card-inverse card-primary text-xs-center" v-bind:style="styleObject">
      <div class="card-block">
          <div class="row stage-panel">
            <div class="col-md-2">
                <!-- TODO ДОЛЖЕН БЫТЬ ПОЛУЧАТЕЛЬ ЭТАПА-->
                <p class="card-text">{{model.author.short_name}}</p>
                <p class="card-text"><small class="text-muted">{{model.created_at}}</small></p>
            </div>
            <div class="col-md-10">
              <div class="card-title">{{model.docpathstage.name}}
                <span class="badge float-right" :class="statusStyle">{{model.status.name}}</span>
              </div>
              <quill-editor v-if="!isReadOnly" :content="model.comment" :options="editorOption" @change="onEditorChange($event)"></quill-editor>
              <div class="stage-comment" v-html="model.comment" v-else></div>
              
              <div v-if="!isReadOnly" class="row">
                <div class="col-md-10"></div>
                <div class="action-menu float-right col col-md-2 col-md-offset-10">
                  <b-dropdown @click="stageAction('agree', model.pk)" right split variant="info" text="Утвердить" size="sm">
                    <b-dropdown-item @click="stageAction('decline', model.pk)">Отклонить</b-dropdown-item>
                    <b-dropdown-item @click="stageAction('disagree', model.pk)" disabled>Вернуть на доработку</b-dropdown-item>
                  </b-dropdown>
                </div>
              </div>
              </div>
            </div>
          </div>
    </div>
      <DocFlowTree v-for="model in model.children" :model="model" :key="model.pk"></DocFlowTree>
  </div>
</template>

<script>
  import {DocFlow, DocFlowStages} from '../../api/resources.js'

  export default {
    template: '#item-template',
    props: {
      model: Object
    },
    computed: {
      isReadOnly: function () {
        return !(this.model.status.id == 0)
      },
      statusStyle: function () {
        return {
          'badge-success': this.model.status.id == 1,
          'badge-info': this.model.status.id == 0,
        }
      }
    },
    data: function () {
      return {
        
        editorOption: {
          modules:{
            toolbar: false,
          },
          placeholder: 'Комментарий к этапу',
          readOnly: this.isReadOnly,
        },
        styleObject: {
           'margin-top': '-1px',
           'margin-left': 10*(this.model.level || 0) + 'px'
         }
      }
    },
    methods: {
      onEditorChange({ editor, html, text }) {
        this.model.comment = html
      },
      stageAction: function(action, pk){
        DocFlowStages.update(
          {
            'stageid': pk
          },
          {
            'comment': this.model.comment,
            'action': action
          })
          .then(response => {
            this.$root.bus.$emit('reloadDocflow', {})
            console.log('Ok!')
          }, response => {
            console.error('ERROR: get DocFlowStages')
            console.log(response)
          })
      }
    }
  }
</script>

<style>
  .stage-comment {
    font-family: Helvetica, sans-serif, Arial;
    font-size: 13px;

  }
  .stage-panel {
    padding-top: 3px;
  }
  .card-title{
    color:#6f6f6f
  }
  .action-menu {
    padding: 3px 40px;
  }
</style>
