<template>
  <div id="doc-view" class="container">
    <div class="row">
      <div class="col-10 btn-group action-bar">
        <b-button class="btn btn-secondary btn-sm" :to="{name: 'documentListView'}">Назад</b-button>
        
      </div>
      <div class="col-md-2 stage-button-container">
        <b-button :to="{name: 'docflowView', params: {docid: doc.id}}" class="btn btn-sm btn-info float-right">Этапы ...</b-button>
      </div>
    </div>
    <div class="row">
      <h1 class="col-md-10">Документ № {{doc.id}}</h1>
    </div>
    <div class="row">
      <b-form-select v-model="odocTypeSelected" :options="odocTypes" class="mb-3"></b-form-select>
    </div>
      <quill-editor :content="doc.text" :options="editorOption" @change="onEditorChange($event)"></quill-editor>
      <div class="row action-btn-panel">
        <b-button class="btn btn-success" @click="saveDocument"> Сохранить </b-button>
      </div>
    </div>
</template>

<script>
  import {OdocResource, OdocTypeListResource} from '../../api/resources.js'

  export default {
    data () {
      return {
        odocTypes: [],
        odocTypeSelected: null,
        editorOption: {
          modules:{
            toolbar: [
              ['bold', 'italic', 'underline', 'strike'],
              ['blockquote', 'code-block'],
              [{ 'header': 1 }, { 'header': 2 }],
              [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            ]
          }
        },
        doc:{},
        showPreloader: true,
      }
    },
    methods: {
      get_document(){
          this.showPreloader = true
          console.log('get_document ' + this.$route.params.id)
          OdocResource.get({'id': this.$route.params.id})
          .then(response => {
            this.doc = response.body
            this.odocTypeSelected = this.doc.odoc_type.id
            this.showPreloader = false
          }, response => {
            console.error('ERROR: get ODOC')
            console.log(response)
          })
      },
      fetchData(){
        // OdocTypes
        OdocTypeListResource.get()
          .then(response => {
            var resp = response.body
            this.odocTypes = resp.map(function(val) {
              return {value: val['id'], text: val['title']}
            })
          }, response => {
            console.error('ERROR: get OdocTypeList')
            console.log(response)
          })

        var documentId = this.$route.params.id
        console.log('fetch data...' + documentId)
        if (documentId == 'new'){
            console.log('Создание документа')
            this.action = 'create'
        }
        else {
          this.documentId = documentId
          this.action = 'edit'
          console.log('edit документа')
          this.get_document()
        }
      },
      onEditorChange({ editor, html, text }) {
        this.doc.text = html
      },
      saveDocument: function(){
        console.log('Action: '+ this.action)
        if (this.action == 'edit') {
          OdocResource.update({
            'id': this.documentId,
            'controller': 'edit'
          },
          {
            text: this.doc.text,
            odoc_type: this.doc.odoc_type.id
          })
        }
        else if (this.action == 'create'){
          console.log('Save new created document')
          OdocResource.save(
            {'id': 'create'},
            {
              text: this.doc.text,
              odoc_type: this.odocTypeSelected
            })
            .then(response => {
              console.log('RESPONSE: ' + JSON.stringify(response.body))
              if (response.status == 201){
                console.log('new doc id : ' + response.body['id'])
                this.$router.push(
                    {
                      name: 'documentView',
                      params: {id: response.body['id']}
                    }
                  )
              }
            }, response => {
              console.error('ERROR: Save new ODOC')
            })
          }
        }
    },
    created(){
      this.fetchData()
    },
    watch: {
    // в случае изменения маршрута запрашиваем данные вновь
    '$route': 'fetchData'
  },
  }
</script>

<style>
  .ql-editor{
      min-height: 200px;
      padding-bottom: 200px;
  }
  .stage-button-container{
    padding-right: 0;
  }
  .action-btn-panel {
    padding-top: 7px;
  }
</style>
