<template>
<!-- TODO REPLACE COMPONENT -->
  <div id="docs" class="container-fluid">
    <div class="dt-toolbar row">
      <div class="col-xs-12 col-sm-5">
        <div id="dt_basic_filter" class="dataTables_filter">
           <b-input-group>
             <span class="input-group-addon">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            <b-form-input class="form-control-sm" v-model="filter"></b-form-input>
          </b-input-group>
        </div>
      </div>
      <div class="col-sm-5 col-xs-12 hidden-xs">
        <div class="dataTables_length float-right" id="dt-basic-length">
           <b-form-select class="form-control-sm" :options="pageOptions" v-model="perPage" />
        </div>
      </div>
    </div>
    <div class="row action-btn-panel">
        <b-button class="btn-sm" :to="{name: 'documentView', params: {id: 'new'}}">Добавить</b-button>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <b-table striped hover class="dt-basic"
          :items="fetchData"
          :busy.sync="isBusy"
          :fields="fields"
          :filter="filter"
          :current-page="currentPage"
          :per-page="perPage">
            <template slot="text" scope="data">
              <router-link :to="{name: 'documentView', params: {id: data.item.id}}">{{data.item.text}}</router-link>
            </template>
            <template slot="date" scope="data">
              {{data.item.created_at_fmt}} / {{data.item.changed_at_fmt}}
            </template>
        </b-table>
      </div>
    </div>
    <div class="row">
       <div class="col-sm-5 hidden-xs">
          <div class="dt-info">
            Найдено: {{totalRows}}
          </div>
       </div>
      <div class="col-sm-5">
        <b-pagination class="pagination-sm" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" align="right"/>
      </div>
    </div>
  </div>
</template>

<script>
  import Pagination from './Pagination.vue'
  import {OdocListResource} from '../../api/resources.js'
  import {moment} from '../../api/index.js'

export default {
    data () {
      return {
        fields: {
          'id':{
            label: '#',
            sortable: true
          },
          'text':{
            label: 'Текст',
            sortable: true
          },
          'odoc_type':{
            label: 'Тип документа',
            sortable: true
          },
          'author':{
            label: 'Автор',
            sortable: true
          },
          'date':{
            label: 'Создан / Изменен',
            sortable: true
          },
        },
        filter: null,
        isBusy: false,
        showPreloader: true,
        next_url: '',
        prev_url: '',
        msg: 'This is document list',
        currentPage: 1,
        perPage: 10,
        totalRows: 0,
        pageOptions: [
          {
            text:5,
            value:5
          },
          {
            text:10,
            value:10
          },
          {
            text:15,
            value:15
          }
        ],
        sortBy: null,
        sortDesc: false
      }
    },
    methods: {
      fetchData(ctx){
        console.log('fetchData...')
        var oldTotalRows = this.totalRows
        var requestParams = {}
        if (ctx.sortBy){
          var sortDirection=''
          if (ctx.sortDesc){
            sortDirection='-'
          }
          requestParams['ordering'] = sortDirection + ctx.sortBy
        }
        if (this.filter){
          requestParams['search'] = this.filter
        }
        requestParams['page'] = this.currentPage
        requestParams['page_size'] = this.perPage
        this.showPreloader = true
        return OdocListResource.get(requestParams)
          .then(response => {
            this.docs = response.body.results
            for (var i=0; i < response.body.results.length; i++){
              var tch = response.body.results[i]['changed_at'] * 1000
              var tcr = response.body.results[i]['created_at'] * 1000
              response.body.results[i]['changed_at_fmt'] = moment(tch).fromNow()
              response.body.results[i]['created_at_fmt'] = moment(tcr).fromNow()
            }
            this.next_url = response.body.next
            this.prev_url = response.body.previous
            this.totalRows = response.body.count
            this.showPreloader = false
            return (response.body.results || [])
          })
          .catch(response => {
            console.log('response ERROR')
            console.log(response)
            return []
          })
      }
    },
    components:{
      'pagination': Pagination
    }
  }
</script>

<style>
  .dt-basic {
    font-size: 13px;
  }
  .dt-toolbar{
      width: 100%;
  }
  .dt-toolbar>:last-child {
    padding-right: 0!important;
  }
  .dt-toolbar > div{
    padding: 0px;
  }
  #dt-basic-length {
    padding: 3px;
  }
  .dt-info{
    padding-top: 9px;
    font-size: 13px;
    font-weight: 700;
    font-style: italic;
    color: #969696;
  }
  .action-btn-panel {
    padding-bottom: 7px;
  }
</style>
