<template>
    <nav>
      <ul class="pagination">
        <li class="page-item" :class="{ disabled: !prev_url }">
          <a class="page-link" @click.prevent="callback(prev_url)"href="#">Пред.</a>
        </li>
        <li class="page-item" :class="{ disabled: !next_url }">
          <a class="page-link"  @click.prevent="callback(next_url)" href="#">След.</a>
        </li>
      </ul>
    </nav>
</template>

<script>
    export default {
        data () {
            return {
                showPreloader: true,
            }
        },
        props: {
            callback: { type: Function },
            prev_url: [String, Number],
            next_url: [String, Number],
        },
    }
</script>