{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %} <a href="{%url 'odocs:list'%}">Служебная записка</a> {% endblock %}
{% block content %}
<div class="row">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% if object.id %}
            <ul class="list-group">
                <li class="list-group-item list-group-item-info"> Автор: {{object.document.author}}</li>
                <li class="list-group-item list-group-item-info"> Создан: {{object.document.created_at| date:"d.m.Y H:i:s"}}</li>
                <li class="list-group-item list-group-item-info"> Изменен: {{object.document.changed_at |  date:"d.m.Y H:i:s"}}</li>
            </ul>
            {% endif %}
        </div>
        <div class="col-md-8">
            <form action="" method="POST">
                {% bootstrap_form form %}
                {% csrf_token %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} Сохранить
                    </button>
                    {% if object.id %}
                    <a href="{% url 'odocs:delete' object.id%}" class="btn btn-danger">
                        {% bootstrap_icon "trash" %} Удалить
                    </a>
                    {% endif %}
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
</div>
{%endblock%}

