{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}
<a href="{% url 'dashboard' %}">Dashboard</a> 
{% endblock %}
{% block content%}
<div class="row" style="background: #eee">
        <a href="{% url 'odocs:create' %}" class="btn btn-primary">
            {% bootstrap_icon "plus" %} Добавить
        </a>
    </button>
</div>
<div class="row">
    <div class="content">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Автор</th>
                    <th>Дата создания</th>
                    <th>Тип документа</th>
                    <th>Текст</th>
                </tr>
            </thead>
            <tbody>
                {%for doc in object_list%}
                <tr>
                    <th scope="row">{{doc.id}}</th>
                    <td>{{doc.document.author.last_name}}</td>
                    <td>{{doc.document.created_at | date:"d.m.Y H:i:s" }}</td>
                    <td>{{doc.odoc_type.title}}</td>
                    <td><a href="{% url 'odocs:edit' doc.id%}">{{doc.text |safe | truncatechars_html:55}}</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{%endblock%}