{% extends "base.html" %}
{% block title %} Авторизация {% endblock %}
{% block content %}
<div class="row vertical-center">
<div class="container">
    <div class="row">
        <div class="text-center">
            <h3>Авторизация</h3>
            <form action="" method="POST">
                {{ form.as_p}}
                {% csrf_token %}
                <input type="submit" value="Войти" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
</div>
{%endblock%}