{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %} <a href="#">Dashboard</a> {% endblock %}
{% block content %}
<div class="content">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{% static 'png/document.jpg' %}" alt="Служебные записки">
                <div class="caption">
                    <h3>Служебные записки</h3>
                    <p>Документ общего вида!</p>
                    <p>
                        <a href="{% url 'odocs:list' %}" class="btn btn-primary" role="button">Открыть</a> 
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{% static 'png/credit-card-851506_640.jpg' %}" alt="Заявки на оплату">
                <div class="caption">
                    <h3>Заявки на оплату</h3>
                    <p>В разработке...</p>
                    <p>
                        <a href="#" class="btn btn-primary disabled" role="button">Открыть</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{% static 'png/meeting.jpg' %}" alt="Контракты" style="max-height: 232px;">
                <div class="caption">
                    <h3>Контракты</h3>
                    <p>В разработке...</p>
                    <p><a href="#" class="btn btn-primary disabled" role="button">Открыть</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
