<template>
<b-navbar toggleable="md" type="dark" variant="info">
  <b-nav-toggle target="nav_collapse"></b-nav-toggle>
  <b-nav is-nav-bar>
    <b-nav-item @click="toggleMenu"><i class="fa fa-bars"></i></b-nav-item>
    <b-nav-item :to="{name: 'dashboard'}">АИС 2.0</b-nav-item>
  </b-nav>

  <b-collapse is-nav id="nav_collapse">
    <!-- Right aligned nav items -->
    <b-nav is-nav-bar class="ml-auto">
      <b-nav-form>
        <b-form-input size="sm" class="mr-sm-2" type="text" placeholder="Поиск"/>
        <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
      </b-nav-form>
      <b-nav-item-dropdown right>
        <!-- Using button-content slot -->
        <template slot="button-content">
          <em>{{profile.user.short_name}}</em>
        </template>
        <b-dropdown-item v-if="!isLogeed()" :to="{name: 'login'}">Логин </b-dropdown-item>
        <b-dropdown-item href="#">Настройка</b-dropdown-item>
        <b-dropdown-item @click="logout">Выход <i class="fa fa-sign-out"></i></b-dropdown-item>
      </b-nav-item-dropdown>
    </b-nav>
</b-collapse>
</b-navbar>
</template>

<script>
  import Vue from 'vue'
  import {signOut, isLogin} from '../../utils/authService'
  import {ProfileMe} from '../../api/resources.js'

  var DefaultUserName = 'Авторизация'
  export default {
    data () {
      return {
        profile: {
          user: {
            short_name: DefaultUserName
          }
        },
      }
    },
    mounted(){
      if (isLogin()){
        ProfileMe.get().then(resp => {
                console.log('Profile My: ')
                console.log(resp.body)
                this.$root.bus.$emit('logon', (resp.body))
        })
      }
      this.$bus.$on('logon', userData => {
        console.log('catch bus event logon....')
        console.log(userData)
        this.profile = userData
      });
    },
    methods: {
      toggleMenu: function() {
          console.log('bus.$emit lm-toggled')
          this.$bus.$emit('lm-toggled')
      },
      isLogeed(){
          console.log('loggin: '+ isLogin())
          return isLogin()
      },
      logout(){
        console.log('logout...')
        this.profile = {
            user: {
                short_name: DefaultUserName
            }
        }
        signOut()
      }
    }
  }
</script>
