<template>
<div id="sidebar"  v-bind:class="[isActive ? 'sidebarDislayed' : '']">
  <!-- Sidebar Header -->
  <div class="sidebar-header-controls d-flex flex-row-reverse">
    <a href="javascript:void(0);" @click="toggleMenu"><i class="fa fa-times"></i></a>
    
  </div>
  <div class="sidebar-header">
    <p>Меню</p>
  </div>
  <!-- Sidebar Links -->
  <ul class="list-unstyled components">
    <li>
      <router-link to="/">
        <i class="fa fa-home" aria-hidden="true"></i>
        Главная
      </router-link>
    </li>
    <li class="active">
      <a href="#docsSubmenu" data-toggle="collapse" data-target="#docsSubmenu">
          <i class="fa fa-book"></i>
          Документы
      </a>
      <ul class="collapse list-unstyled" id="docsSubmenu">
        <li>
          <router-link to="/documents">
          <i class="fa fa-book" aria-hidden="true"></i>
          Служебные записки
        </router-link>
        </li>
        <li>
          <router-link to="/documents">
          <i class="fa fa-tags" aria-hidden="true"></i>
          Заявки на оплату
        </router-link>
        </li>
        <li>
          <router-link to="/documents">
          <i class="fa fa-tags" aria-hidden="true"></i>
          Заявки на отгрузку
        </router-link>
        </li>
      </ul>
      <li>
        <router-link to="/profiles">
        <i class="fa fa-tags" aria-hidden="true"></i>
          Сотрудники
        </router-link>
      </li>
    </li>
    
  </ul>
</div>
<!-- /sidebar -->
</template>

<script>
  import Vue from 'vue'

  export default {
    data () {
      return {
        isActive: false
      }
    },
    created: function() {
      var self = this;
      this.$bus.$on('lm-toggled', this.toggleMenu)
    },
    beforeDestroy: function () {
      this.$bus.$off('lm-toggled', this.addTodo)
    },
    methods: {
      toggleMenu: function() {
        console.log('toggle menu')
        this.isActive = !this.isActive
      },
    },
  }
</script>
<style>
#sidebar {
  background-color: #2f4050;
  padding-left: 0;
  width: 0;
  position: absolute;
  overflow-y: hidden;
  height: 100%;
}

.sidebar-header-controls {
  padding: 5px;
  color:#c0cad2;
}

.sidebar-header {
  display: flex;
  justify-content: space-around;
}

.sidebar-header>p {
  color:#c0cad2;
  text-transform: uppercase;
}
#sidebar.sidebarDislayed{
  width: 250px;
  z-index: 9;
}
#sidebar > ul{
  padding: 15px 15px;
}
#sidebar > ul > li{
  padding-top: 5px;
  /* border: 1px solid #eee; */
}

#sidebar > ul > li > ul{
  padding-left: 25px;
  /* border: 1px solid #eee; */
}

#sidebar > .nav>li>a {
    white-space: nowrap;
    overflow: hidden;
}
#sidebar .collapse.in {
    display: inline;
}

#sidebar a {
  color:#c0cad2;
}
</style>

