<template>
  <div id="login-view" class="container">
    <h1>Авторизация</h1>
     <b-form @submit="login">
      <b-form-group id="login-group" label="Логин:" label-for="login"
          <b-form-input id="login" type="text" v-model="form.login" required placeholder="Введите логин"></b-form-input>
      </b-form-group>
      <b-form-group label="Пароль:" label-for="password">
        <b-form-input id="password" type="password" v-model="form.password" required placeholder="Введитре пароль"></b-form-input>
      </b-form-group>
      <b-button type="submit" variant="primary">Войти</b-button>
    </b-form>
  </div>
</template>

<script>
  import Settings from './../../settings/Settings.js'
  import {AuthResource} from '../../api/resources.js'
  import {getCookie, saveCookie, signOut} from '../../utils/authService'
  import {ProfileMe} from '../../api/resources.js'

  export default {
    data () {
      return {
         form: {
            login: '',
            password: '',
        },
      }
    },
    methods: {
      login: function(){
        console.log('Login: ...')
        AuthResource.save(
          {
            'username': this.form.login,
            'password': this.form.password
          }
        )
        .then(response => {
          console.log('Login: '+ response.body['token'])
          saveCookie('token', response.body['token'])
          this.$router.push({
            name: 'documentListView'
          })
        }, response => {
          console.log('ERROR:')
          console.log(response)
        })
        .then(response => {
            ProfileMe.get().then(resp => {
              console.log('Profile My: ')
              console.log(resp.body)
              this.$root.bus.$emit('logon', (resp.body))
            })
        })
      }
    },
  }
</script>
