<template>
  <div id="app" class="wrapper">
    <!-- top nav -->
    <navbar></navbar>
    <div class="wrapper">
      <leftmenu></leftmenu>
      <!-- main right col isActive ? activeClass : '', errorClass -->
      <!--  v-bind:class="[isActive ? 'col-sm-9' : 'col-sm-9']" -->
      <div class="column" id="main">
        <router-view></router-view>
      </div>
      <!-- /main -->
      </div>
</div>

</template>

<script>
import Vue from 'vue'
import BootstrapVue from 'bootstrap-vue'

Vue.use(BootstrapVue);

import Navbar from './components/main/Navbar.vue'
import Sidebar from './components/main/Sidebar.vue'

export default {
    data () {
      return {
        isActive: false
      }
    },
    components:{
      'navbar': Navbar,
      'leftmenu': Sidebar
    }

}
</script>

<style>
html, body {
   height: 100%;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}


#main {
    padding: 15px;
    left: 0;
}
/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    #sidebar {
        min-width: 44px;
    }

    #main {
        width: 1%;
        left: 0;
    }
    
    #sidebar .visible-xs {
       display:inline !important;
    }

    .row-offcanvas {
       position: relative;
       -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
       transition: all 0.4s ease-in-out;
    }
    
    .row-offcanvas-left.active {
       left: 45%;
    }

    .row-offcanvas-left.active .sidebar-offcanvas {
       left: -45%;
       position: absolute;
       top: 0;
       width: 45%;
    }
} 

@media screen and (min-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 3%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -3%;
    position: absolute;
    top: 0;
    width: 3%;
    text-align: center;
    min-width:42px;
  }
  
  #main {
    left: 0;
  }
}
  .preload {
    opacity: 0.5;
  }
  .preload:after {
      content: "Загрузка"; /* Добавляемый текст */ 
      position: absolute;
      color: #333; /* Цвет текста */ 
      background-color: #fc0; /* Цвет фона */ 
      font-size: 90%; /* Размер шрифта */ 
      padding: 2px; /* Поля вокруг текста */ 
      top: 50%;
      left: 50%;
    }
</style>
