<template>
  <div class="ml-4">
    <a href="#"><i class="ml-2 fa fa-plus"></i></a>
    <a @click.prevent="edit" href="#"><i class="ml-2 fa fa-pencil"></i></a>
    <a href="#"><i class="ml-2 fa fa-times"></i></a>
  </div>
</template>

<script>
  import {ProfileListResource} from 'api/resources.js'

  export default {
    data () {
      return {

      }
    },
    methods: {
      edit(){
        console.log('click edit item!')
        console.log(this.type,':', this.model)
      }
    },
    props: ['model','type'],
  }
</script>

<style>

</style>
