<template>
  <div id="profile-view" class="container">
    <div class="card card-inverse card-primary text-xs-center">
      <div class="card-block">
          <div class="card-block" v-for="model in profiles" :key="model.pk">
              <ProfileItem :model="model"></ProfileItem>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {ProfileListResource} from 'api/resources.js'
  import ProfileItem from './ProfileItemView.vue'
  import Vue from 'vue'
  Vue.component('ProfileItem', ProfileItem)

  export default {
    data () {
      return {
        profiles: []
      }
    },
    methods : {
      fetchData(subdivision){
        console.log('!!!fetch profiles ....')
        let _filter = {}
        if (subdivision) {
            _filter = {'subdivision': subdivision}
        }
        ProfileListResource.get(_filter)
          .then(response => {
            this.profiles = response.body
            for (var k in this.profiles){
                this.profiles[k]['expanded']=true
            }
            console.log(this.profiles)
          }, response => {
            console.error('ERROR: get profiles')
            console.log(response)
          })
      },
    },
    created(){
      this.fetchData()
    }
  }
</script>

<style>

</style>
