<template>
  <div>
        <!-- объект не подгруженный, только title есть -->
        <div class="card-block tree-item"
            @click="expand(model, $event)"
            v-bind:style="{ 'margin-left': 20*(model.level + 1 || 1) + 'px' }">
            <div class="d-flex">
              <div>
                <i class="fa fa-folder fa-folder" v-bind:class="{ 'fa-folder-open': model.expanded }" aria-hidden="true"></i> {{model.title}}
              </div>
              <EditItemTool class="edit-control" :model="model" type='subdivision'></EditItemTool>
            </div>
        </div>
        <!-- Дочернии объекты прогоняем еще раз через рекурсию -->
        <div v-if="model.children" class="card-block"
            :style="{ 'margin-left': 20*(model.level + 1 || 1) + 'px' }"
            v-for="children in model.children" 
            :key="children.pk"
            >
            <ProfileItem :model="children"></ProfileItem>
        </div>
        <!-- Персоны сразу отображаем -->
        <div v-if="model.persons" class="card-block person-item"
            v-bind:style="{ 'margin-left': 40*(model.level + 1 || 1) + 'px' }"
            v-for="person in model.persons"
            :key="person.pk">
            <div class="d-flex">
                <div><i class="fa fa-user" aria-hidden="true"></i> {{person.short_name}}</div>
                <EditItemTool class="edit-control" :model="person" type='person'></EditItemTool>
            </div>
        </div>
    </div>
</template>

<script>
  import {ProfileListResource} from 'api/resources.js'
  import EditItemTool from './EditItemTool.vue'
  import Vue from 'vue'

  Vue.component('EditItemTool', EditItemTool)
  export default {
    data () {
      return {
        profiles: {},
        styleObject: {
           'margin-top': '-1px',
         }
      }
    },
    props: {
      model: Object
    },
    computed: {
        isExpand: function(model){
            if (model.model.expanded === true) {
                return true
            }
            return false
        }
    },
    methods: {
      expand: function(obj, event){
        if (obj['expanded'] === true){
            console.log('collapse')
            obj.expanded = false
            obj.persons = {}
            obj.children = []
            this.$forceUpdate();
        }
        else {
            console.log('expand and fetch children')
            ProfileListResource.get({'subdivision': obj.id})
            .then(response => {
                // TODO 0 ли ?
                let new_obj = response.body[0]
                obj['expanded'] = true
                obj['children'] = Vue.util.extend([], new_obj['children'])
                obj['persons'] = Vue.util.extend({}, new_obj['persons'])
                this.$forceUpdate();
                },
            response => {
                console.error('ERROR: get profiles')
                console.log(response)
            })
        }
      },
    }
  }
</script>

<style>
.tree-item:hover, .person-item:hover{
    background-color: #3e6a962e;
    cursor: pointer;
}
.edit-control{
  display: none;
}
.person-item:hover .edit-control,
.tree-item:hover .edit-control {
  display: block;
}
</style>
